PyQt6==6.7.1
torch==2.3.1+cu121 ; sys_platform == 'win32'
torchvision==0.18.1+cu121 ; sys_platform == 'win32'
torchaudio==2.3.1+cu121 ; sys_platform == 'win32'
--extra-index-url https://download.pytorch.org/whl/cu121
demucs==4.0.1
rvc-python==1.1.0
pydub==0.25.1
scipy==1.13.1
numpy==1.26.4
librosa==0.10.2
soundfile==0.12.1
pyaudioop==0.3.3
audioop-lts==0.2.2
